langchain-core
langchain-openai
langgraph
python-dotenv
langchain
langchain_community
tavily-python
pypdf
cryptography
sentence-transformers
faiss-cpu
streamlit

# ----------------------------
# Core Backend
# ----------------------------
fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv

# ----------------------------
# Computer Vision (YOLO)
# ----------------------------
ultralytics
opencv-python
pillow
numpy

# ----------------------------
# Utilities
# ----------------------------
requests